<p-table [columns]="cols" [value]="lancamentos" [responsive]="true"
         [paginator]="true"
         [rows]="paginatorProperties.rows"
         [lazy]="true"
         [totalRecords]="paginatorProperties.totalRecords"
         (onLazyLoad)="executarEvento($event)">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [classList]="col.styleClass">
        {{col.header}}
      </th>
      <th class="col-buttons"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td *ngFor="let col of cols" [classList]="col.styleClass" [ngStyle]="col.field.toLowerCase() === 'valor' ?
                 {color: lancamento.tipo.toLowerCase() === 'despesa' ? 'red' : 'green' } : ''"
      >
        {{ col.type ? col.type.transform(lancamento[col.field], col.paramx, col.paramy, col.paramz) : lancamento[col.field] }}
      </td>
      <td class="col-buttons">
        <button pButton icon="fa fa-pencil" pTooltip="Editar o lançamento.." tooltipPosition="top"
                (click)="executarAoEditar(lancamento)" [disabled]="!auth.hasAuthority('ROLE_CADASTRAR_LANCAMENTO')"></button>
        <button pButton icon="fa fa-trash" style="margin-left: 12px;" pTooltip="Excluir o lançamento.." tooltipPosition="top"
                (click)="executarAoExcluir(lancamento)" [disabled]="!auth.hasAuthority('ROLE_REMOVER_LANCAMENTO')"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
