<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()" class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" style="float: right"></button>
    </div>

  </form>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-grid [cols]="cols"
                [paginatorProperties]="paginatorProperties"
                [actions]="actions"
                [data]="pessoas"
                (userAction)="filtrarEventos($event)"
                (pageChange)="aoMudarPagina($event)"></app-grid>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <button pButton type="button" routerLink="/pessoas/novo" label="Nova Pessoa" [disabled]="!auth.hasAuthority('ROLE_CADASTRAR_PESSOA')"></button>
    </div>
  </div>
</div>
